/* Base Styles */
body {
	font-family: Arial, sans-serif;
	background-color: #121212;
	color: #e0e0e0;
	margin: 0;
	padding: 0;
}

header,
footer {
	background-color: #1f1f1f;
	padding: 20px;
	text-align: center;
}

header h1,
footer p {
	margin: 0;
}

nav ul {
	display: flex;
	justify-content: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li {
	margin: 20px 20px 0 20px;
}

nav a {
	color: #e0e0e0;
	text-decoration: none;
}

nav a:hover {
	color: #ff9800;
}

/* Hover Effect */
.hover-effect {
	position: relative;
	display: inline-block;
	padding: 10px 10px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	overflow: hidden;
}

.hover-effect::before {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 2px;
	background-color: goldenrod;
	transition: all 0.3s ease;
	transform: translateX(-50%);
}

.hover-effect:hover::before {
	width: 100%;
	left: 0;
	transform: translateX(0);
}

/* Section Styles */
section {
	padding: 40px 20px;
	max-width: 800px;
	margin: 0 auto;
}

/* Search input Styles */

input{
	width: 70%;
	height: 40px;
    padding: 10px;
    border: 1px solid goldenrod;
    border-radius: 5px;
    font-size: 18px;
	color: #fff;
	background-color: #222;
	outline: none;
}

input:focus{
	border: 2px solid goldenrod;
	background-color: #333;
}

/* Blog Post List Styles */
.post-preview {
	border-bottom: 1px solid goldenrod;
	margin-bottom: 20px;
	padding-bottom: 20px;
	width: 90%;
}

.post-title {
	font-size: 24px;
	margin-bottom: 10px;
}

.post-excerpt {
	font-size: 16px;
	line-height: 1.5;
}

.read-more {
	color: #ff9800;
	cursor: pointer;
	text-decoration: none;
}

.read-more:hover {
	text-decoration: underline;
}

.post-img{
	width: 100%;
	border: 1px solid goldenrod;
	margin: auto;
}

/* Back to Top Button */
button.back-to-top {
	position: fixed;
	bottom: 30px;
	right: 30px;
	background-color: #ff9800;
	color: #121212;
	border: none;
	padding: 10px 15px;
	cursor: pointer;
	display: none;
	/* Hidden by default */
	border-radius: 5px;
}

/* About Page Specific Styles */
section h2 {
	font-size: 28px;
	margin-top: 40px;
}

section p {
	font-size: 18px;
	line-height: 1.7;
}

/* Contact Page Specific Styles */
#contact-info {
	text-align: center;
	font-size: 18px;
	margin-top: 20px;
}

#contact-info p {
	margin: 10px 0;
}

#contact-info a {
	color: #ff9800;
	text-decoration: none;
}

#contact-info a:hover {
	text-decoration: underline;
}

/* Post Page Specific Styles */
article {
	font-size: 18px;
	line-height: 1.7;
	margin-top: 20px;
}

article p {
	margin-bottom: 15px;
}

article img {
	max-width: 100%;
	margin: 20px 0;
}

article h2 {
	font-size: 28px;
}

article h3 {
	font-size: 24px;
	margin-top: 20px;
}

/* Shape Animation */
#shapes-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	overflow: hidden;
}

.shape {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: rgba(255, 174, 0, 0.2);
	animation: float infinite alternate ease-in-out;
}

.shape.square {
	border-radius: 0;
	/* Turn it into a square */
}

@keyframes float {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(100px, 100px);
	}
}

/* Mobile Styling */
@media (max-width: 768px) {
	header h1 {
		font-size: 1.8rem;
	}

	nav ul {
		padding: 10px;
	}

	nav li {
		margin: 10px 0;
	}

	section {
		padding: 20px 10px;
	}

	article h2 {
		font-size: 24px;
	}

	article h3 {
		font-size: 20px;
	}

	#contact-info {
		font-size: 16px;
	}

	#contact-info a {
		font-size: 16px;
	}

}